/* ----------- global ------------ */

html {
  font-size: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  user-select: none;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* font-family: "Courier New", Courier, monospace; */
  /* font-weight: bold; */
  font-size: 6px;
  /* font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif; */
  background-color: rgb(242, 242, 242);
  color: rgb(8, 8, 8);
}

@media screen and (max-width: 480px) {
  /* body {
    font-size: 0.4rem;
  } */
  /* span {
    font-size: 4px;
    color: red;
  } */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  display: flex;
  flex-direction: column;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;

  transition: all;
  font-family: "Inter", sans-serif;
}

.header {
  min-width: 320px;
  color: rgb(13, 13, 13);
  transition: all;
  text-align: center;
  display: inline-block;
  /* transform-origin: left; */
  font-weight: 500;
}
/* .header2 {
  min-width: 320px;
  color: rgb(13, 13, 13);
  transition: all;
  text-align: left;
  display: inline-block;
  transform-origin: left;
  font-family: "Rubik", sans-serif;
} */

span {
  font-weight: 400;
}

.words::after {
  font-size: 8px;
  opacity: 1;
  content: "one";
  animation-name: replacement;
  animation-duration: 4s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  /* text-align: left; */
  justify-self: left;
  /* animation-direction: absolute; */
}

@keyframes replacement {
  0% {
    opacity: 0;
    content: "CHECK BACK SOON";
  }
  20% {
    opacity: 1;
    content: "CHECK BACK SOON";
  }
  40% {
    opacity: 0;
    content: "CHECK BACK SOON";
  }
  60% {
    opacity: 0;
    content: "UPDATING";
  }
  80% {
    opacity: 1;
    content: "UPDATING";
  }
  100% {
    opacity: 0;
    content: "UPDATING";
  }
}
